﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model asp_net_parcijalni_ispit_Ivan_Blazun.ViewModels.UpdateViewModel


<h2>Uredite svoje osobne podatke @Model.Ime</h2>
<hr />
<div class="row">
	<div class="col-md-8">
		<form method="post" class="form-floating mb-3">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating">
				<input asp-for="@Model.Ime" class="form-control" />
				<label asp-for="@Model.Ime">Ime</label>
			</div>

			<div class="form-floating">
				<input asp-for="@Model.Prezime" class="form-control" />
				<label asp-for="@Model.Prezime">Prezime</label>
			</div>
			<div class="form-floating">
				<input asp-for="@Model.Adresa" class="form-control" placeholder="Ulica i broj" />
				<label asp-for="@Model.Adresa">Ulica, broj</label>
			</div>
			<div class="form-floating">
				<input asp-for="@Model.Grad" class="form-control" placeholder="Grad" />
				<label asp-for="@Model.Grad">Grad</label>
			</div>
			<div class="form-floating">
				<input asp-for="@Model.PostanskiBroj" class="form-control" placeholder="Poštanski broj" />
				<label asp-for="@Model.PostanskiBroj">Poštanski broj</label>
			</div>
			<div class="form-floating">
				<input asp-for="@Model.Drzava" class="form-control" placeholder="Država" />
				<label asp-for="@Model.Drzava">Država</label>
			</div>
			<button type="submit" class="btn btn-primary" value="Submit" asp-action="UpdateData" asp-controller="Profil">Spremi</button>
		</form>
	</div>
</div>
<hr class="border border-danger border-2 opacity-50" />
@{
	System.Diagnostics.Debug.Assert(Model.TaskItems != null, "Model.TaskItems != null");
}
<h3 class="mb-4">Ako je vaš zadatak završen, označite pripadni kvadratić</h3>

<table class="table">
	<thead>
		<tr>
			<th>
				<h6>NAZIV ZADATKA</h6>
			</th>
			<th>
				<h6>IZRAĐENO DANA</h6>
			</th>
			<th>
				<h6>STATUS</h6>
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.TaskItems)
		{
			var isCompleted = ViewBag.TaskStatus as bool?;
			if (!isCompleted.HasValue || !isCompleted.Value)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.TaskName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Created)
					</td>
					<td>
						<div class=" form-check">
							<label class="form-check-label">
								Zadatak dovršen?
								<input input class="form-check-input" type="checkbox" value="" id="myCheckbox" data-task-id="@item.Id" />
							</label>
						</div>
					</td>
					<td>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}